@using ChartJs.Blazor;

<div class="chart">
    @if (Type == SolarEdgeType.Energy)
    {
        <Chart Config="BarConfig" Width="400" Height="300"></Chart>
    }
    else
    {
        <Chart Config="LineConfig" Width="400" Height="300"></Chart>
    }
</div>
